{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}
    <!--page content-->
	<br>
	<br>
    <h1 class="center">Golf Handicap Calculator</h1>
	<h3 class="center">(All answers in comparison to par)</h3>
	<h3 class="center">(Example: -2 is two strokes under par, 6 is six strokes over par)</h3>
	<br><br>
	<form action='submit'>
		<div class="form-group center">
			<label for="rd1">Round 1 Score</label>
			<input type="range" min="-9" max="36" name="rd1" oninput="this.nextElementSibling.value = this.value">
			<output>14</output>
		</div>
		<br>
		<div class="form-group center">
			<label for="rd2">Round 2 Score</label>
			<input type="range" min="-9" max="36" name="rd2" oninput="this.nextElementSibling.value = this.value">
			<output>14</output>
		</div>
		<br>
		<div class="form-group center">
			<label for="rd3">Round 3 Score</label>
			<input type="range" min="-9" max="36" name="rd3" oninput="this.nextElementSibling.value = this.value">
			<output>14</output>
		</div>
		<br>
		<div class="form-group center">
			<label for="rd4">Round 4 Score</label>
			<input type="range" min="-9" max="36" name="rd4" oninput="this.nextElementSibling.value = this.value">
			<output>14</output>
		</div>
		<br>
		<div class="form-group center">
			<label for="rd5">Round 5 Score</label>
			<input type="range" min="-9" max="36" name="rd5" oninput="this.nextElementSibling.value = this.value">
			<output>14</output>
		</div>
		<br><br>
		<button type="submit" class="btn btn-primary cnter">Submit</button>
	</form>
	
	
{% endblock %}
